<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jdyy.mapper.MusicMapper" >

    <!--结果别名，对应实体类变量名-->
<resultMap id="musicMap" type="com.jdyy.entity.Music">
    <id column="music_id" property="musicId" />
    <result column="music_name" property="musicName" />
    <result column="cover_url" property="coverURL" />
    <result column="click_number" property="clickNumber" />
</resultMap>



 <update id="modifyMusic">
     update music
         <set>
             <if test="musicName!=null and musicName!=''">
                music_name = #{musicName},
             </if>
             <if test="author!=null and author!=''">
                 author = #{author},
             </if>
             <if test="coverURL!=null and coverURL!=''">
                cover_url = #{coverURL},
             </if>
             <if test="url!=null and url!=''">
                url = #{url}
             </if>
        </set>
     where music_id = #{musicId};
 </update>
</mapper>